header{
  background-color: lightblue;
  text-align: center;
  font-size: xxx-large;
}


.find{
  border: none;
  background-color: lightblue;
  font-size: larger;
}

/* text */
.container{
  font-size: medium;
  color: black;
  align-items: left;
}

.container-fluid{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
 

}

.whole-card{
  display: flex;
  align-items: right;


}
