header{
  background-color: lightblue;
  text-align: center;
  font-size: xxx-large;
}


.find{
  border: none;
  background-color: lightblue;
  font-size: larger;
}

.container{
  font-size: medium;
  color:black;
}

.container-fluid{
  display: flex;
  align-items: center;
  justify-content: center;
}